*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(147, 151, 158);
}
header{
    display: flex;
    justify-content: space-around;
}
.header{
    height: 4rem;
    width: 95%;
    background-color:rgb(147, 151, 158);
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: 0 0  20px 0;
    border-radius: 0.3rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 87px;
    height: 54px;
    border-radius: 36px;
}

.menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.items{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-checkbox {
    display: none;
}
  
.hamburger {
    display: none;
    position: relative;
    cursor: pointer;
    height: 24px;
    width: 32px;
    top: 20px;
    right: -342px;
}
  
.line {
    display: block;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    background-color: #000;
    transition: transform 0.3s ease-in-out;
}
  
.line:nth-child(1) {
    top: 0;
}
  
.line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
  
.line:nth-child(3) {
    bottom: 0;
}
  
.hamburger-checkbox:checked ~ .hamburger .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
  
.hamburger-checkbox:checked ~ .hamburger .line:nth-child(2) {
    opacity: 0;
}
  
.hamburger-checkbox:checked ~ .hamburger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
  
a {
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
    color: black;
}
.cont-elements{
    text-decoration: none;
    font-weight: 500;
    font-size: 2vw;
    color: black;
}
a:hover{
    color:#474747;
}

.container{
    width: fit-content;
    height: 70vh;
    display: flex;
    margin: 5% auto;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
}
.contactdetails{
    width: 30vw;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #333 ;
}
.contactform{
    width: 30vw;
    height: 60vh;
    display: block;
    padding: 3%;
}
.contactform h2{
    text-align: center;
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.contactform p{
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.contactform .inputbox{
    position: relative;
    margin-top: 10px;
    width: 100%;
}
.contactform .inputbox input {
    width: 100%;
    padding: 3px 0;
    margin: 5px 0;
    display: inline-block;
    border:none;
    background-color: #e9e9e9;
    border-bottom: 1px solid #333;
    font-size: 13px;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 3px 0;
    font-size: 13px;
    margin: 5px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox strong{
    color: #666;
    font-weight: 500;
    font-size: 13px;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
{
    color: rgb(147, 151, 158);
    font-size: 13px;
    transform: translateY(-20px);
}
.contactform .inputbox1{
    text-align: center;
}
.contactform .inputbox1 input[type="submit"]{
    width: 100%;
    padding: 1px;
    margin: 6px 0;
    background: rgb(147, 151, 158);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.contactform .inputbox1 input[type="submit"]:hover{
    background: rgb(94, 94, 94);
    transition: 0.5s;
}

textarea{
    width: 100%;
}

@media (max-width: 700px) {
    .hamburger{
        display: block;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 34vw;
        height: 70vh;
        align-items: center;
        box-sizing: border-box;
        background-color: rgb(147, 151, 158);
        box-shadow: none;
        padding: 10px;
        top: 48px;
        right: -98px;
        visibility: hidden;
        z-index: 1;
    }
    
    .hamburger-checkbox:checked ~ .menu{
        /* right: -45px; */
        visibility: visible;
    }
}

@media (max-width: 450px) {
    .menu{
        /* right: 508px; */
        visibility:hidden;
    }
    .hamburger{
        right: -173px;
    }
    .hamburger-checkbox:checked ~ .menu{
        right: -20px;
        visibility: visible;
    }
}
@media ( max-width:1100px)
{
    .container{
        width: 80%;
        height: 80vh;

    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
