
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(147, 151, 158);
}
header{
    display: flex;
    justify-content: space-around;
}
.header{
    height: 4rem;
    width: 95%;
    background-color:rgb(147, 151, 158);
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: 0 0  20px 0;
    border-radius: 0.3rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 87px;
    height: 54px;
    border-radius: 36px;
}

.menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.items{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-checkbox {
    display: none;
}
  
.hamburger {
    display: none;
    position: relative;
    cursor: pointer;
    height: 24px;
    width: 32px;
    top: 20px;
    right: -50vw;
}
  
.line {
    display: block;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    background-color: #000;
    transition: transform 0.3s ease-in-out;
}
  
.line:nth-child(1) {
    top: 0;
}
  
.line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
  
.line:nth-child(3) {
    bottom: 0;
}
  
.hamburger-checkbox:checked ~ .hamburger .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
  
.hamburger-checkbox:checked ~ .hamburger .line:nth-child(2) {
    opacity: 0;
}
  
.hamburger-checkbox:checked ~ .hamburger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
  
a{
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
    color: black;
}
a:hover{
    color:#474747;
}
@media (max-width: 700px) {
    .hamburger{
        display: block;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 34vw;
        height: 70vh;
        align-items: center;
        box-sizing: border-box;
        background-color: rgb(147, 151, 158);
        box-shadow: none;
        padding: 10px;
        top: 48px;
        right: -7vw;
        visibility: hidden;
        z-index: 1;
    }
    
    .hamburger-checkbox:checked ~ .menu{
        visibility: visible;
    }
}

@media (max-width: 450px) {
    .menu{
        visibility:hidden;
    }
    .hamburger{
        right: -173px;
    }
    .hamburger-checkbox:checked ~ .menu{
        right: -20px;
        visibility: visible;
    }
}

.main-box{
    background-color: rgb(147, 151, 158);
    height: fit-content;
    width: fit-content;
}

.main-box h2{
    margin-left: 2%;
    margin-top: 1.5%;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    height: 40vh;
    flex-basis: 50%;
    background-color: whitesmoke;
    border-radius: 0.7rem;
    margin: 2%;
    box-sizing: border-box;
    margin-top: 1%;
    padding: 1.1rem 1.9rem;
    box-sizing: border-box;
}
.col:hover{
    box-shadow: 0 0 1.5rem 0  rgb(68, 68, 68);
    transition: 0.25s; 
}
.text1{
    position: relative;
    top: 0;
    left: 1.4rem;
}
@media (max-width: 770px) {
    .row {
        flex-direction: column;
    }
    .col{
        margin: 4%;
    }
}
