*{
    margin: 0;
    padding: 0;
}

.col{
    width: 100%;
    height: 100%;
    background-color: red;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}
.plc{
    background-color: aliceblue;
    width:100%;
    height: 97%;
    margin: 10px;
}