
*{
    margin: 0;
    padding: 0;
}
.report{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem auto;
}
p{
    width: 80%;
    font-size: 1.5rem;
    height: fit-content;
    text-align: justify;
}
